# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# 设置zookeeper生成文件存放位置
dataDir=/usr/zain/zookeeper-3.4.9/data
# the port at which the clients will connect
# 设置服务器监听端口
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
# 配置另外两台服务器地址及端口，第一个端口用于正常通信，第二个端口用于选举
server.1=10.19.76.221:2888:3888
server.2=10.19.106.71:2888:3888
server.3=10.19.177.182:2888:3888
